<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header">
    <div class="headerLogo">
      <a href="./index.html"></a>
    </div>
    <ul class="headerNav">
      <li class="item item1"><a href="./productSun.html">系列鏡框</a></li>
      <li class="item item2"><a href="./location2.html">門市據點</a></li>
      <li class="item item3"><a href="./blog.html">部落格</a></li>
      <li class="item item4"><a href="./faq.html">常見問題</a></li>
    </ul>
  </header>

  <%- contents %>

    <footer class="footer">
      <div class="container">
        <div class="info">
          <div>
            <ul class="map">
              <li class="item"><a href="./index.html">首頁</a></li>
              <li class="item"><a href="./productSun.html">系列鏡框</a></li>
              <li class="item"><a href="./location2.html">門市據點</a></li>
              <li class="item"><a href="./blog.html">部落格</a></li>
              <li class="item"><a href="./faq.html">常見問題</a></li>
            </ul>
            <ul class="contact">
              <li class="li1">
                <img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-phone.svg"
                  alt="phone">
                <a href="tel:0800-000-000">0800-000-000</a>
              </li>
              <li class="li2">
                <img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-mail.svg"
                  alt="mail">
                <a href="mailto:glasses@business.com">glasses@business.com</a>
              </li>
            </ul>
          </div>
          <ul class="social">
            <li class="li1"><a href="#"><img
                  src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-fb.svg"
                  alt="fb"></a></li>
            <li class="li2"><a href="#"><img
                  src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-ig.svg"
                  alt="ig"></a></li>
            <li class="li3"><a href="#"><img
                  src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-line.svg"
                  alt="line"></a></li>
          </ul>
        </div>

        <div class="copyright">
          <p>Copyright © 2020 Glasses.All rights reserved.</p>
          <ul class="item">
            <li class="item1"><a href="#">隱私權政策</a></li>
            <li class="item2"><a href="#">服務條款</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>