@mixin max_width($max-width) {
    max-width: $max-width;
}

@mixin width($width) {
    width: $width;
}

@mixin background_image($link) {
    background-image: url($link);
}

@mixin height($height) {
    height: $height;
}

@mixin font_size_and_line_height($size, $line-height) {
    font-size: $size;
    line-height: $line-height;
}