@mixin display_block() {
    display: block;
}

@mixin background_position_center() {
    background-position: center;
}

@mixin background_size_cover() {
    background-size: cover;
}

@mixin background_repeat_no_repeat() {
    background-repeat: no-repeat;
}

@mixin display_flex() {
    display: flex;
}

@mixin flex_wrap_wrap() {
    flex-wrap: wrap;
}

@mixin flex_direction_row() {
    flex-direction: row;
}

@mixin flex_direction_column() {
    flex-direction: column;
}
@mixin flex_direction_row_reverse() {
    flex-direction: row-reverse;
}

@mixin justify_content_center() {
    justify-content: center;
}

@mixin justify_content_flex_end() {
    justify-content: flex-end;
}

@mixin justify_content_space_between() {
    justify-content: space-between;
}
@mixin justify_content_space_around() {
    justify-content: space-around;
}

@mixin align_items_center() {
    align-items: center;
}

@mixin align_items_stretch() {
    align-items: stretch;
}

@mixin  align_items_flex_end() {
    align-items: flex-end;
}

@mixin  align_items_baseline() {
    align-items: baseline;
}

@mixin margin_0_auto() {
    margin-left: auto;
    margin-right: auto;
}